@model RegisterInputModel
<partial name="_ValidationSummary" />
<div class="login-page panel-page">

    <div class="row">
        <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center p-3">Cinema Booking System</h3>
                    </div>

                    <div class="card-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
                            </div>

                            <div class="text-center pt-3">
                                <button class="btn btn-primary button button-success text-center" name="button" value="login">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
    </div>
</div>